/* general */
body {

	background-image : url(../images/FOND.jpg);
	background-repeat : no-repeat;
	background-color : rgba(51, 181, 229, 0.9);
}

#bb {
	font-family: Calibri;
	color:white;
	font-weight:bold;
	background-color: rgb(0 0 0 / 20%);
	display:flex;
	align-items:center;
	justify-content:space-between;

}
.bouton{
	text-decoration:none;
	color:white;
  margin-right: auto;
  margin-left: auto;
}

/* Global */
#global {
	width: 1200px;
	overflow: hidden;
}


/* Menu de navigation */
#navigation {
	width: 160px; /* -> 4 */
	float: left;
}
#navigation ul {
	margin: 0;
	list-style: none;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}
#navigation a {
	display: block;
	height: 29px;
	line-height: normal;
	font-size: 16px;
	text-decoration: none;
	color: #ebebeb;
	opacity: 0.9;
	width: 125px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	font-family: "Tahoma", serif;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	pointer-events: unset;
}
#global #navigation a:hover {
	color: #FFF;
}



/* Contenu */
#contenu {
	margin-left: 160px;
	color: #ebebeb;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-family: "Tahoma", serif;
	text-align: justify;
	background-image: none;
	background-repeat: no-repeat;
}

/* Esthétique du menu déroulant au moment de dérouler*/
#global #navigation ul li a:hover {
	background-image: url(../images/rollovermenu5.jpg);
	background-position: bottom;

#testcase {
	  border: 5px solid #C0C0C0;
	  border-radius: 10px;
	  box-shadow: 1px 1px 1px #778899;
	  width: auto;
		background-color:rgb(0, 0, 0 / 20%);
	}
